#aboutScreen {
    width: 90vw !important;
    padding: 0 5vw;
    text-align: justify;
}

#aboutScreen p {
    margin: 0.1em 0;
}

#logoWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#logoWrapper img {
    width: 40%;
}